.ContactLink{
    border-radius: 12px;
    padding: .5rem;
    background: #303030;
    box-shadow:  5px 5px 10px #292929,
    -5px -5px 10px #373737;
    border: 1px solid #303030;
    margin-right: .5rem;
}

.ContactLink:hover{
    box-shadow: 0 0, 0 0;
    background-color: #ED2939;
}

.ContactLink:active{
    background-color: #303030;
    box-shadow: inset 5px 5px 10px #202020,
    inset -5px -5px 10px #454545;
}

.ContactLink-Image{
    fill: #F0F0F0;
}

.ContactLink:active .ContactLink-Image{
    fill: #ED2939;
}

@media only screen and (max-width: 576px) {
    .ContactLink:active, .ContactLink:hover{
        box-shadow: inset 5px 5px 10px #202020,
        inset -5px -5px 10px #454545;
    }
    .ContactLink:active, .ContactLink:hover .ContactLink-Image{
        fill: #ED2939;
    }

}
