.navbar-item{
    display: block;
    padding-right: 0;
    padding-left: 0;
    color: gray;
}

.navbar-item:hover{
    color: black;
    text-decoration: none;
}

@media (min-width: 992px){
.navbar-item {
    /*padding-right: .5rem;*/
    /*padding-left: .5rem;*/
    padding: .5rem 0rem;
    /*padding: .5rem 1rem;*/
    padding-bottom: 0px;
    }

.navbar-item:hover{
    border-bottom: 3px solid #ffE138;
    color: gray;
    text-decoration: none;
}
}

