@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

.project-button{
    width: 49%;
    color: #303030;
}

@media only screen and (max-width: 1000px) {
    .project-button {
        width: 48%;
        font-weight: 500;
    }
}

.header {
    font-family: 'Montserrat', cursive;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.section {
    min-height: 100vh;
}