@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.project-button{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 36px;
}

.header{
    font-family: 'Montserrat', cursive;
}

.Badge {
    background-color:transparent;
    padding: .25em .4em;
    border-radius:6px;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    font-weight:bold;
    display: inline-block;

}

.square-top-right{
     height: 2rem;
     width: 2rem;
     position: relative;
     float: right;
     border-bottom: solid 3px white;
     border-left: 3px solid white;
 }

.square-top-left{
    height: 2rem;
    width: 2rem;
    position: relative;
    float: left;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.square-bottom-right{
    height: 2rem;
    width: 2rem;
    /*position: relative;*/
    float: right;
    border-top: solid 3px white;
    border-left: 3px solid white;
}

.square-bottom-left{
    height: 2rem;
    width: 2rem;
    /*position: relative;*/
    float: left;
    border-top: 3px solid white;
    border-right: 3px solid white;
}