.button {
    background: #F0F0F0;
    font-weight: bold;
    mix-blend-mode: normal;
    border: 1px solid #F0F0F0;
    box-shadow: 10px 10px 15px 0 rgba(217, 210, 200, 1), -10px -10px 30px 0 rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: #222222;
    padding: .375rem .75rem;
    transition: background-color .5s, color .5s;
}
.button:hover {
    background-color: #ED2939;
    box-shadow: 5px 5px 15px 0 rgba(217, 210, 200, 1), -10px -10px 10px 0 rgba(255, 255, 255, 1);
}
.button:active {
    background: #F0F0F0;
    border: 1px solid transparent;
    box-shadow: inset 10px 10px 10px 0 rgba(217, 210, 200, 1), inset -10px -10px 10px 0 rgba(255, 255, 255, 1);
    /*color: #666666;*/
}

.button:disabled  {
    background: #F0F0F0;
    border: 1px solid transparent;
    box-shadow: inset 10px 10px 10px 0 rgba(217, 210, 200, 1), inset -10px -10px 10px 0 rgba(255, 255, 255, 1);
    color: #666666;
}

.button-dark {
    background-color:#303030;
    border: 1px solid #303030;
    color: #f2f2f2;
    /*box-shadow:  10px 10px 10px #292929,*/
    /*-10px -10px 10px #373737;*/
    box-shadow: 2px 2px 10px 0 #151515, -2px -2px 10px 0   #373737;
    transition: background-color .5s, color .5s;
}
.button-dark:hover{
    background-color: #ED2939;
    box-shadow:  5px 5px 10px #292929,
    -5px -5px 10px #373737;
}

.button-dark:active{
    background-color:#303030;
    border: 1px solid #303030;
    color: #ED2939;
    box-shadow: inset 20px 20px 30px 0 #202020, inset -20px -20px 30px 0 #454545;
}

.button-dark:disabled{
    background-color:#303030;
    border: 1px solid #303030;
    color: #666666;
    box-shadow: inset 20px 20px 30px 0 #202020, inset -20px -20px 30px 0 #454545;
}


.button-danger {
    background-color:#FC4365;
    border: 1px solid #FC4365;
    color: #f2f2f2;
    box-shadow: 10px 10px 15px 0 rgba(217, 210, 200, 1), -10px -10px 30px 0 rgba(255, 255, 255, 1);

}
.button-danger:active,.button-danger:disabled {
    background-color:#FC4365;
    border: 1px solid #FC4365;
    color: #f2f2f2;
    box-shadow: inset 10px 10px 20px 0 #d63956, inset -10px -10px 20px 0 #ff4d74;
}

.button-warning {
    background-color:#FFE138;
    border: 1px solid #FFE138;
}
.button-warning:active, .button-warning:disabled{
    background-color:#FFE138;
    border: 1px solid transparent;
    box-shadow: inset 10px 10px 10px 0 #d9bf30,
    inset -10px -10px 10px 0  #ffff40;
}


.button-success {
    background-color: #4a9730;
    border: 1px solid #4a9730;
    color: #FFF;
}
.button-success:active, .button-success:disabled{
    background-color:#4a9730;
    border: 1px solid #4a9730;
    box-shadow: inset 10px 10px 10px #3f8029,
    inset -10px -10px 10px #55ae37;
}


.button-info {
    background-color:#46A89F;
    border: 1px solid #46A89F;
    color: #FFF;
}
.button-info:active,.button-info:disabled{
    background-color:#46A89F;
    border: 1px solid #46A89F;
    box-shadow: inset 10px 10px 10px #3c8f87,
    inset -10px -10px 10px #51c1b7;
}

.button-block {
    display: block;
    width: 100%;
}

.project-button{
    width: 49%;
}

@media only screen and (max-width: 500px) {
    .project-button {
        width: 48%;
        font-weight: 500;
    }
}

