.Badge-Dark {
    background-color: #ed2939;
    color: black;
    padding: .25em .4em;
    border-radius:6px;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    font-weight:bold;
    display: inline-block;

}

.Badge-Light {
    background-color: #ed2939;
    color: white;
    padding: .25em .4em;
    border-radius:6px;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    font-weight:bold;
    display: inline-block;

}

.Badge-Small-Dark {
    background-color: #ed2939;
    color: black;
    padding: .25em .4em;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Badge-Small-Light {
    background-color: #ed2939;
    color: white;
    padding: .25em .4em;
    margin-right:0.25rem;
    margin-bottom:0.25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Language {
    background-color: #fdce26;
    /*border: solid 2px #191504;*/
    /*background-image: linear-gradient(to right, #fdce26, #f9c521, #f4bb1c, #f0b217, #eba912);*/
    /*background-image: linear-gradient(to left top, #fdce26,#ff5e5c);*/
    color: #191504;
}


.Technology {
    /*background-color: #149cea;*/
    background-color: #B0D85D;
    /*color: #041f2f;*/
    /*border: solid 2px #191504;*/
    color: #232b13;
}

.Skill {
    /*background-color: #8BBC90;*/
    background-color: #26C4BE;
    color: #082726;
}

.Yellow {
    /*background-color: #fdce26;*/
    color: #191504;
}

.Yellow-Light {
    background-color: #f3db4b;
    color: #181607;
}

.Green {
    /*background-color: #149cea;*/
    background-color: #B0D85D;
    /*color: #041f2f;*/
    color: #232b13;
}

.Cyan {
    /*background-color: #8BBC90;*/
    background-color: #26C4BE;
    color: #082726;
}

.Cyan-Light{
    background-color: #58C6B8;
    color: #122825;
}