.Container-Light {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background: #F0F0F0;
    border: 1px solid rgba(255,255,255,0.2);
    mix-blend-mode: normal;
    box-shadow: 10px 10px 30px 0 rgba(217, 210, 200, 1), -10px -10px 30px 0 rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.Container-Dark {
    background: #303030;
    color: #c1c1c1;
    mix-blend-mode: normal;
    box-shadow:  10px 10px 30px 0 #292929, -5px -5px 10px 0 #373737;
    border: 1px solid #303030;
    border-radius: 12px;
    margin-bottom: 1.25rem;
}