.CRK-container {
    width: auto;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #F0F0F0;
    border: 1px solid rgba(255,255,255,0.2);
    mix-blend-mode: normal;
    box-shadow: 10px 10px 30px 0 rgba(217, 210, 200, 1), -10px -10px 30px 0 rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.container-dark {
    background: #303030;
    color: #c1c1c1;
    mix-blend-mode: normal;
    box-shadow:  20px 20px 30px #292929,
    -20px -20px 30px #373737;
    border: 1px solid #303030;
    border-radius: 12px;
    margin-bottom: 1.25rem;
}