.CRK-container {
    width: auto;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #F0F0F0;
    border: 1px solid rgba(255,255,255,0.2);
    mix-blend-mode: normal;
    /*box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.83), -6px -6px 26px 0 rgba(255, 255, 255, 0.97);*/
    box-shadow: 10px 10px 20px 0 rgba(217, 210, 200, 0.83), -10px -10px 20px 0 rgba(255, 255, 255, 0.97);
    border-radius: 12px;
}