@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

.About{
    height: calc(100vh);
}
.MainText{
    font-family: 'Monoton', cursive;
    font-size: 8rem;
}
.SecondaryText{
    font-family: 'Montserrat', cursive;
    font-size: 3rem;
}

.TextContainer{
    display: flex;
    flex-wrap: wrap;
}

.column{
    border-right: solid black 1px;
    background-color: #303030;
}

.break{}

.background{
    background-color: #303030;
    /*background-image: linear-gradient(#303030, #454545);*/
    color:#F0F0F0;
}

@media only screen and (max-width: 576px) {
    .MainText {
        font-size: 250% ;
    }
    .SecondaryText{
        font-size: 150% ;
    }
    .break{
        display: none;
    }
}