@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


.About{
    height: calc(100vh);
}
.MainText{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4rem;
    /*font-family: 'Monoton', cursive;*/
    /*font-family: 'Cinzel', serif;*/
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Oxanium', cursive;*/
    /*font-family: 'Spartan', sans-serif;*/
    /*font-size: 8rem;*/
}
.SecondaryText{
    font-family: 'Montserrat', cursive;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
}

.TextContainer{
    display: flex;
    flex-wrap: wrap;
}

.column{
    border-right: solid black 1px;
    background-color: #303030;
}

.break{
    display: none;
}

.rows{
    border-right: solid 1px #252525;
    border-left: solid 1px #252525;
    height: 100vh;
    transition: height 1.2s ease;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.background-dark{
    background-color: #303030;
    color:#F0F0F0;

}.background-light{
     background-color: #F0F0F0;
     color: #303030;
 }
.navbar-About {
    width: 95%;
    border: 1px solid transparent;
    border-radius: 12px;
    box-shadow: 10px 10px 15px 0 rgba(217, 210, 200, 1), -10px -10px 30px 0 rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: .4rem;
}

.readMore-button{
    text-align: center;
    position: absolute;
    left: calc(50% - 29px);
    top: calc(100% - 120px);
}

@media only screen and (max-width: 576px) {
    .readMore-button{
        left: calc(50% - 35px);
    }
    .MainText {
        font-size: 250% ;
    }
    .SecondaryText{
        font-size: 150% ;
    }
    .break{
        display: block;
    }
}

@keyframes Pulse {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.pulse {
    animation: Pulse 2s ease-in-out infinite alternate;
    -webkit-animation: Pulse 2s ease-in-out infinite alternate;
}