.Background-Dark {
    background-color: #303030;
    color: #F0F0F0;
    transition: background-color .5s, color .5s;
}

.Background-Light {
    background-color: #F0F0F0;
    color: #303030;
    transition: background-color .5s, color .5s;
}

.page{
    height: calc(100vh - 56px);
    /*height: 100vh;*/
}

.app{
    min-height: calc(100vh - 56px);
    height: 100%;
}