.CRK-container {
    width: auto;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #F0F0F0;
    border: 1px solid rgba(255,255,255,0.20);
    mix-blend-mode: normal;
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), -1px -1px 4px rgba(255, 255, 255, 0.75);*/
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51), -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
    border-radius: 12px;
}